.blockWrapper {
    background-color: #FFFFFF;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-self: flex-start;
}
.title {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;

    display: flex;
    align-items: center;

    color: #1B1F23;
}
.description {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    display: flex;
    align-items: center;

    color: #1B1F23;
}