.movieCard {
    display: flex;
    justify-content: space-between;
    justify-self: stretch;
    flex-grow: 1;
}
.minusButton {
    height: 20px;
    width: 20px;
    border: 0px;
    border-radius: 4px;
    background-image: url("./minusButton.svg");
    cursor: pointer;
}
.plusButton {
    height: 20px;
    width: 20px;
    border: 0px;
    border-radius: 4px;
    background-image: url("./plusButton.svg");
    cursor: pointer ;
}
.counterWrapper {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}
.counterText {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;

    display: flex;
    align-items: center;

    color: #1B1F23;
}