.footer {
    min-height: 86px;
    height: 86px;
    background-color: #333333;

    flex: none;
}
.footerLink {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;
}
.footerWrapper {
    height: inherit;
    margin: 0 32px 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}